<!DOCTYPE html>
<html lang="pt-br">
<head>
    {% include "model-header.html" %}
</head>
<body>

{% block content %} {% endblock %}
{% include "model-footer.html" %}
</body>


<script>
    var nav = document.getElementById("navbar");
document.getElementById("toggle").addEventListener('click',function(){
    if(nav.className === "navigation"){
        nav.className += " toggle";
    }else{
        nav.className = "navigation";
    }
});

//parametros para tempo de animação e down da pagina
document.getElementById("to-inicio").addEventListener('click',function(){
    nav.className = "navigation";
    scroll(document.getElementById("inicio"),1000);
});
document.getElementById("to-link1").addEventListener('click',function(){
    nav.className = "navigation";
    scroll(document.getElementById("link1"),1000);
});
document.getElementById("to-link2").addEventListener('click',function(){
    nav.className = "navigation";
    scroll(document.getElementById("link1"),1000);
});


function scroll(element,time){
    // funcao de scroll
    function checkBody() {
        document.documentElement.scrollTop += 1;
        const body = (document.documentElement.scrollTop !== 0) ? document.documentElement : document.body;
        document.documentElement.scrollTop -= 1;
        return body;
    }
    const startTime = Date.now();
    var body = checkBody()
    var duracion = time;
    var div = element;
    // FIREFOX O CHROME elije la que funcione
    var domHeight = Math.max(document.body.scrollHeight,document.documentElement.scrollHeight);
    var clientHeight = Math.max(document.body.clientHeight);
    var margen = domHeight - clientHeight;
    var windowHeight = document.documentElement.clientHeight;
    var destino = (domHeight - div.offsetTop) + margen < windowHeight ? domHeight - windowHeight : div.offsetTop - margen;
    var start = body.scrollTop;

    function draw(){
        var now = Date.now();
        var t = Math.min(1,(now - startTime) / duracion);
        var animacion =  t<.5 ? 4*t*t*t : (t-1)*(2*t-2)*(2*t-2)+1
        var movimiento = (animacion * (destino - start)) + start;
        body.scrollTop = movimiento;
        if(body.scrollTop === destino){
            return;
        }
        requestAnimationFrame(draw);
    }
    draw();
}



</script>
</html>